<!DOCTYPE html>
<html>

<body>

<!-- <form method="post">
    <input type="submit" name="generate" value="generate">
</form> -->

<!-- <video width="320" height="240" controls>
    <source src='/media/jeremy/c602a316-f553-419a-859e-688208757bde/MSRVTT/videos/all/video9770.mp4' type="video/mp4">
  Your browser does not support the video tag.
</video> -->

<video width="320" height="240" autoplay="autoplay" controls>
    <source src='video9770.mp4' type="video/mp4">
    <!-- <source src="/media/jeremy/c602a316-f553-419a-859e-688208757bde/MSRVTT/videos/all/video9770.ogg" type="video/ogg"> -->
  Your browser does not support the video tag.
</video>
</body>
</html>